extends ../layout

block content
  .container
    .col-md-12
      .thumbnail.row
        .col-sm-6
          img.img-responsive.nopadding(src="/uploads/"+property.photo width="100%" alt='')
          #lightgallery.thumbnails
            each image in property.gallery
                a.col-md-4.col-sm-6.nopadding(href='/uploads/'+image.filename, width="100%" alt='#{property.slug}')
                  img.img-thumbnail.img-responsive(src='/uploads/'+image.filename, width="100%" alt='')
          br
          br
 
        div(id='', style='overflow:scroll; height:400px;')
          !{property.map}
      .thumbnail.row
        .col-sm-6
          h4
            a(href='/property/#{property.slug}')
              sup
              =property.name
          h4 Kshs #{property.price}
          p
            !{property.description}

        h3 Features
          p
            !{property.features}
