extends ../layout

block content
  .container
    .col-md-12
      .thumbnail.row
        .col-sm-6
          img.img-responsive.nopadding(src="/uploads/"+property.photo width="100%" alt='')
          #lightgallery.thumbnails
            each image in property.gallery
                a.col-md-4.col-sm-6.nopadding(href='/uploads/'+image.filename, width="100%" alt='#{property.slug}')
                  img.img-thumbnail.img-responsive(src='/uploads/'+image.filename, width="100%" alt='')
          br
          br
          h3 Features
          p
            !{property.features}
        .col-sm-6
          h4.pull-right Kshs #{property.price}
          h4
            a(href='/property/#{property.slug}')
              sup
              =property.name
          a(href='/property/product_edit')
            button.pull-right.btn.btn-info(type='button') Edit property
          p
            !{property.description}
          div(id='', style='overflow:scroll; height:400px;')
            !{property.map}
