extends ../layout

block content
  link(href='/stylesheets/search.css', rel='stylesheet', type='text/css', media='all')

  script(src='/javascripts/jquery.min.js')
  script(src='javascripts/scripts.js')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  script(type='application/x-javascript').
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
  script(src='javascripts/responsiveslides.min.js')
  script.
    $(function () {
    $("#slider").responsiveSlides({
    auto: true,
    speed: 500,
    namespace: "callbacks",
    pager: true,
    });
    });
  .jumbotron.specialjum
    .featurette
      .featurette-inner.text-center
        form.search(role='form')
          h5 Buy and Rent Property in Kenya
            .container
              .row
                .col-md-12
                  #adv-search.input-group
                    input.form-control(type='text', placeholder='Enter a location')
                    .input-group-btn
                      .btn-group(role='group')
                        .dropdown.dropdown-lg
                          button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                            span.caret
                          .dropdown-menu.dropdown-menu-right(role='menu')
                            form.form-horizontal(role='form')
                              .form-group
                                label(for='filter')
                                select.form-control
                                  option(value='', selected='') Category
                                  option(value='') Houses
                                  option(value='') Land
                                  option(value='') Apartments
                                  option(value='') Commercial Properties
                                  option(value='') Offices
                                  option(value='') Shops
                              .form-group
                                label(for='contain')
                                input.form-control(type='text', placeholder='Min Bedrooms')
                              .form-group
                                label(for='contain')
                                input.form-control(type='text', placeholder='Max Price')
                              button.btn.btn-primary(type='submit')
                                span.glyphicon.glyphicon-search(aria-hidden='true')
                        button.btn.btn-primary(type='button')
                          span.glyphicon.glyphicon-search(aria-hidden='true')

                  .clearfix

  .banner-bottom-top
    .container
      .bottom-header
        .header-bottom
          .bottom-head
            a(href='/property/for_sale')
              .buy-media
                i.buy  
                h6 Buy
          .bottom-head
            a(href='/property/for_rent')
              .buy-media
                i.rent  
                h6 Rent
          .bottom-head
            a(href='/property/land')
              .buy-media
                i.sell  
                h6 Land
          .bottom-head
            a(href='/property/commercial')
              .buy-media
                i.loan  
                h6 Commercial
          .bottom-head
            a(href='/property/projects')
              .buy-media
                i.apart  
                h6 Projects
          .bottom-head
            a(href='/property/dealers')
              .buy-media
                i.deal  
                h6 Dealers
          .bottom-head
            a(href='/property/hostels')
              .buy-media
                i.pg  
                h6 Hostels
          .clearfix  
  .container
    .row-fluid
      p Properties Found #{totalRecords}
      each property in propertys
        .col-sm-6.col-md-4
          a(href='/property/#{property.slug}')
            .thumbnail
              img(src="/uploads/"+ property.photo, width="100%", alt='')
              .caption
                h4.pull-right Kshs #{property.price}
                h4
                  a(href='/property/#{property.slug}')
                    sup
                    =property.name
                p
                  !{property.description}
    .row-fluid
      !{pagination}

script(src='/bootstrap/js/bootstrap.js')
script(src='/javascript/search.js')
