extends ../layout

block content
  .jumbotron
    .w3-banner-head-info
      .container
        .banner-text
          h2 Buy or Rent Property in Kenya
          .book-form
            .bs-example.bs-example-tabs(role='tabpanel', data-example-id='togglable-tabs')
              ul#myTab.nav.nav-tabs(role='tablist', data-aos='zoom-in')
                li.active(role='presentation')
                  a(href='#home', role='tab', data-toggle='tab', aria-controls='home', aria-expanded='true') Residential Properties
                li(role='presentation')
                  a(href='#train', role='tab', data-toggle='tab', aria-controls='train') Commercial Properties
            br
            .select_property
              .radio
                label
                  input(type='radio', name='optradio')
                  | For Sale
              br
              .radio
                label
                  input(type='radio', name='optradio')
                  | For Rent
            br
            br
            form(action='#', method='post')
              .col-md-12.form-time-w3layouts
                label
                  i.fa.fa-map-marker(aria-hidden='true')
                  | Location
                input(type='text', placeholder='Location', required='')
              .col-md-3.form-time-w3layouts
                label
                  i.fa.fa-home(aria-hidden='true')
                  |  Category
                select.form-control
                  option Houses
                  option Flats and Apartments
                  option Townhouses
                  option Bungalows
                  option Bedsitters
                  option Rooms
              .col-md-3.form-date-w3-agileits
                label
                  i.fa.fa-money(aria-hidden='true')
                  |  Price
                input(type='text', placeholder='Max. Price', required='')
              .col-md-3.form-date-w3-agileits
                label
                  i.fa.fa-hotel(aria-hidden='true')
                  |  Bedrooms
                select.form-control
                  option 1
                  option 2
                  option 3
                  option 4
                  option 5
                  option 6
                  option 7
                  option 8
              .col-md-3.form-left-agileits-submit
                input(type='submit', value='Search')


  .gallery-grids
    #myTabContent.tab-content
      #home.tab-pane.fade.in.active(role='tabpanel', aria-labelledby='home-tab')
        .tab_img
          each property in propertys
            .col-md-3.col-sm-6.col-xs-6.portfolio-grids(data-aos='zoom-in')
              a.b-link-stripe.b-animate-go.lightninBox(href='/property/#{property.slug}', data-lb-group='1')
                img.img-responsive(src="/uploads/"+ property.photo, width="100%", alt='w3ls')
                .b-wrapper
                  h4.pull-right Kshs #{property.price}
                  h4
                    a(href='/property/#{property.slug}')
                      sup
                      =property.name
                  p 
                    !{property.description}

        .clearfix  
 
    .row-fluid
      !{pagination}
      
    #services.services
      .banner-dott
        .heading
          h3 How it works
        .container
          .services-top-grids
            .col-md-4
              .grid1
                i.fa.fa-home(aria-hidden='true')
                h4 Sign Up
                p
                  | Register with us to get all the tools to get your property to a wider audience.
            .col-md-4
              .grid1
                i.fa.fa-building(aria-hidden='true')
                h4 List your Property
                p
                  | Post the details of your property.
            .col-md-4
              .grid1
                i.fa.fa-money(aria-hidden='true')
                h4 Get a buyer or renter
                p
                  | Instantly get people interested in your property.
  #map
     //
       How to change your own map point
       1. Go to Google Maps
       2. Click on your location point
       3. Click "Share" and choose "Embed map" tab
       4. Copy only URL and paste it within the src="" field below
     iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8389160739684!2d36.8066655142538!3d-1.2695533359650044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f173961db13a7%3A0x77455c76e7f761b2!2sWestlands+Rd%2C+Nairobi!5e0!3m2!1sen!2ske!4v1507570875376', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')
       
