extends ../layout

block content
  link(href='/stylesheets/search.css', rel='stylesheet', type='text/css', media='all')
  link(href='/stylesheets/style1.css', rel='stylesheet', type='text/css', media='all')
  link(href='/bootstrap/css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
  script(src='/javascripts/jquery.min.js')
  script(src='javascripts/scripts.js')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  script(type='application/x-javascript').
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
  script(src='javascripts/responsiveslides.min.js')
  script.
    $(function () {
    $("#slider").responsiveSlides({
    auto: true,
    speed: 500,
    namespace: "callbacks",
    pager: true,
    });
    });
  .jumbotron.specialjum
    .featurette
      .featurette-inner.text-center
        form.search(role='form')
          h5 Buy and Rent Property in Kenya
            .row
              .board
                // <h2>Welcome to IGHALO!<sup>™</sup></h2>
                .board-inner
                  ul#myTab.nav.nav-tabs
                    .liner
                    li.active
                      a(href='#messages', data-toggle='tab', title='Buy Property')
                        span.round-tabs.three
                          p(style='font-size: 12px;') Buy
                    li
                      a(href='#messages', data-toggle='tab', title='Rent Property')
                        span.round-tabs.three
                          p(style='font-size: 12px;') Rent
                .tab-content
                  .container
                    .row
                      .col-xs-8.col-xs-offset-2
                        .input-group
                          input#search_param(type='hidden', name='search_param', value='all')
                          input.form-control(type='text', name='x', placeholder='Location')
                          .input-group-btn.search-panel
                            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                              span#search_concept Size
                              span.caret
                            ul.dropdown-menu(role='menu')
                              li
                                a(href='#contains') Contains
                              li
                                a(href='#its_equal') It's equal
                              li
                                a(href='#greather_than') Greather than >
                              li
                                a(href='#less_than') Less than < 
                              li.divider
                              li
                                a(href='#all') Anything
                            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                              span#search_concept Type
                              span.caret
                            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                              span#search_concept Bedrooms
                              span.caret
                          input#search_param(type='hidden', name='search_param', value='all')
                          input.form-control(type='text', name='x', placeholder='Price')
                          span.input-group-btn
                            button.btn.btn-default(type='button')
                              span.glyphicon.glyphicon-search
                  .clearfix

  .banner-bottom-top
    .container
      .bottom-header
        .header-bottom
          .bottom-head
            a(href='/property/for_sale')
              .buy-media
                i.buy  
                h6 Buy
          .bottom-head
            a(href='/property/for_rent')
              .buy-media
                i.rent  
                h6 Rent
          .bottom-head
            a(href='/property/land')
              .buy-media
                i.sell  
                h6 Land
          .bottom-head
            a(href='/property/commercial')
              .buy-media
                i.loan  
                h6 Commercial
          .bottom-head
            a(href='/property/projects')
              .buy-media
                i.apart  
                h6 Projects
          .bottom-head
            a(href='/property/dealers')
              .buy-media
                i.deal  
                h6 Dealers
          .bottom-head
            a(href='/property/hostels')
              .buy-media
                i.pg  
                h6 Hostels
          .clearfix  
  .container
    .row-fluid
      p Properties Found #{totalRecords}
      each property in propertys
        .col-sm-6.col-md-4
          a(href='/property/#{property.slug}')
            .thumbnail
              img(src="/uploads/"+ property.photo, width="100%", alt='')
              .caption
                h4.pull-right Kshs #{property.price}
                h4
                  a(href='/property/#{property.slug}')
                    sup
                    =property.name
                p
                  !{property.description}
    .row-fluid
      !{pagination}

script(src='/bootstrap/js/bootstrap.js')
script(src='/javascript/search.js')
