extends dashboard_layout

block content
    link(rel='stylesheet', href='/stylesheets/analytics.css')  
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    .container
    #app
      .row
        .col-xs-3
          .well
            h1.dash-red
              | #{activeUsers} 
              i.glyphicon.glyphicon-user
            h3.text-muted Active Users
        .col-xs-9
          h2.sub-header Active Pages
          .table-responsive
            table.table
              thead
              td Page URL
              td Active Users
              tbody
                tr(v-for='(page, count) in pages')
                  td #{page}
                  td #{count}
          h2.sub-header Referrals
          .table-responsive
            table.table
              thead
              td Referring Site
              td Active Users
              tbody
                tr(v-for='(referringSite, count) in referrers')
                  td #{referringSite}
                  td #{count}
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.js')
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/analytics.js')
