extends dashboard_layout

block content
  .container.py-3
    .row
      .mx-auto.col-sm-9
        ul.nav.nav-tabs(role='tablist')
          li.nav-item
            a.nav-link.active(data-toggle='tab', href='#details', role='tab') Details
          li.nav-item
            a.nav-link(data-toggle='tab', href='#edit', role='tab') Edit   
        .tab-content
          #details.tab-pane.active(role='tabpanel')
            br
            .card
              .card-header
                .container
                  .row
                    .col-xs-12.col-sm-8.col-md-10
                      .well.well-sm
                        .row
                          .col-sm-6.col-md-8
                            h4
                              !{user.names}
                            small
                              cite(title='Nairobi, Kenya')
                                | Nairobi, Kenya 
                                i.glyphicon.glyphicon-map-marker
                            p
                              i.glyphicon.glyphicon-envelope
                                !{user.email}
                              br
                              i.glyphicon.glyphicon-globe
                                !{user.phone}
          // /form user info
          #edit.tab-pane(role='tabpanel')
            br
            .card
              .card-header
                h4.mb-0 Edit Details
              .card-body
                form.form(role='form', method="POST", action="/user/#{user._id}" autocomplete='off')
                  .form-group.row
                    label.col-lg-6.col-form-label.form-control-label First name
                    .col-lg-9
                      input.form-control(type='text')
                  .form-group.row
                    label.col-lg-6.col-form-label.form-control-label Last name
                    .col-lg-9
                      input.form-control(type='text')
                  .form-group.row
                    label.col-lg-6.col-form-label.form-control-label Email
                    .col-lg-9
                      input.form-control(type='email', name='email', value="#{user.email}")
                  .form-group.row
                    label.col-lg-6.col-form-label.form-control-label Username
                    .col-lg-9
                      input.form-control(type='text' , name='name', value="#{user.names}")
                  .form-group.row
                    label.col-lg-6.col-form-label.form-control-label Password
                    .col-lg-9
                      input.form-control(type='password', name='password', value="")
                  .form-group.row
                    label.col-lg-6.col-form-label.form-control-label Confirm
                    .col-lg-9
                      input.form-control(type='password', name='password', value="")
                  .form-group.row
                    label.col-lg-6.col-form-label.form-control-label
                    .col-lg-9
                      input.btn.btn-secondary(type='reset', value='Cancel')
                      input.btn.btn-primary(type='submit', value='Save Changes')

script(src='javascripts/admin/dashboard.js')
