doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/usebootstrap.less')
    link(rel='stylesheet', href='/stylesheets/account.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    .navbar.navbar-default
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='/')  
          img(src='/images/logo.png')
      .navbar-collapse.collapse.navbar-responsive-collapse
        ul.nav.navbar-nav
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/blog/') Blog
          if user
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown') 
                = user.names
                b.caret
              ul.dropdown-menu
                li
                  a(href='/dashboard') Dashboard
                li
                  a(href='/logout') logout
          else
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown') Login/Register
              ul.dropdown-menu
                li
                  a(href='/login') Login
                li
                  a(href='/register') Register
          li
            a(href='/property/new')
              button.btn.btn-info(type='button') ADD PROPERTY +
    block content
    footer
      .row
        .col-xs-12
          p
            | Copyright © 
            a(href='/') Sokoestate
            | 2017
      if errors
        each error in errors
          .alert.alert-danger=error.msg
        if message    
          .alert.alert-info=message
        if success_msg     
          .alert.alert-success=success_msg
        if error_msg     
          .alert alert-danger=error_msg
        if error    
          .alert.alert-danger=error
  script(src='/javascripts/jquery-3.2.1.js')
  script(src='/bootstrap/js/bootstrap.min.js')
  script(src='/javascripts/usebootstrap.js')
  script(src="/javascripts/tinymce.min.js")
  script(src="/javascripts/jquery.swipebox.js")
  script.
        $(document).ready(function () {
           //$('.swipebox').swipebox();
        });
        tinymce.init({ 
            selector:'textarea',
            height: 150,
              menubar: false,
              plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code'
              ],
              toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
              content_css: '//www.tinymce.com/css/codepen.min.css'
        });
